<html>
    <head>
        <title>
            Hello anh Hoang
        </title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>
            hello EJS
        </h1>
        <form method="POST" action="/login"> 
         Username: <input type="text" name="username"/>
         <br>
         Password: <input type="text" name="password"/>
         <br>
         <input type="submit" value="Submit"/>
        </form>

        <script>
            $.ajax({
                type:"POST",
                url: "/loginjson",
                data: JSON.stringify({ firstname: "Hoang", lastname: "Nguyen"}),
                dataType: "json",
                contentType: "application/json"
            })
            </script>
    </body>
</html>